body {
  font-family: Roboto;
}

p { 
  line-height: 30px;
  font-size: 12px;
}

li { 
  line-height: 30px;
}

article { 
  line-height: 30px;
}

.black {
  background: black;
} 


card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}
